.navbar-clan{
    background-color: #1C6EA4; 
    box-shadow: 2px 2px 5px 1px #6796B6;
}

.navbar-clan .nav .nav-item .nav-link {
    color: white;
}
.text-name{
    color: orange;
}
img .icono-clan{
    width:80px; 
    height: auto;
}
