.navbar-clan{
    background-color: #1C6EA4; 
    box-shadow: 2px 2px 5px 1px #6796B6;
}
ul.nav a.nav-link{ 
    color: white;
}
.text-name{
    color: #f4a835;
}

.icono-clan {
    width:80px; 
    height: auto;
}
